.wrapper {
  overflow-x: hidden;

  font-weight: bold;

  height: 100vh;
  width: 100vw;

  background: url('../images/bg.png') no-repeat center center;
  background-size: cover;

  // background: #483c6c;
  // background: -moz-linear-gradient(45deg,  #483c6c 0%, #db8ff7 100%);
  // background: -webkit-linear-gradient(45deg,  #483c6c 0%,#db8ff7 100%);
  // background: linear-gradient(45deg,  #483c6c 0%,#db8ff7 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#483c6c', endColorstr='#db8ff7',GradientType=1 );
}

@keyframes moon {
  0% {
    transform: translate(0,0);
  }

  50% {
    transform: translate(-30px, -50px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes dark {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(30px);
  }

  100% {
    transform: translate(0);
  }
}

// @keyframes comet {
//   0% {
//     transform: translate(0,0);
//   }
//
//   50% {
//     transform: translate(35px, -80px);
//   }
//
//   100% {
//     transform: translate(0,0);
//   }
// }

.parallax {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  & > * {
    position: absolute;
  }

  .comet-left {
    width: 141px;
    height: 82px;
    background: url('../images/falling-star-left.png') no-repeat center center;
    background-size: contain;

    top: 37.5%;
    left: 0%;
  }

  .comet-right {
    width: 82px;
    height: 47px;
    background: url('../images/falling-star-right.png') no-repeat center center;
    background-size: contain;

    top: 45%;
    right: 15%;

    // animation: comet 25s infinite linear forwards;
  }

  .dark-comet-left {
    width: 124px;
    height: 85px;
    background: url('../images/dark-comet-left.png') no-repeat center center;
    background-size: contain;

    top: 33%;
    left: 15%;
  }

  .dark-comet-right {
    width: 166px;
    height: 125px;
    background: url('../images/dark-comet-right.png') no-repeat center center;
    background-size: contain;

    top: 58%;
    z-index: 15;
    right: 15%;

    // animation: comet 25s infinite linear forwards;
  }

  .moon {
    width: 102px;
    height: 102px;
    background: url('../images/moon.png') no-repeat center center;
    background-size: contain;

    top: 15%;
    left: 64%;

    animation: moon 25s infinite linear forwards;
  }

  .yellow-planet {
    z-index: 1;
    width: 359px;
    height: 359px;
    background: url('../images/yellow.png') no-repeat center center;
    background-size: contain;

    top: 50%;
    left: 15%;

    animation: moon 15s infinite linear forwards;
  }

  .blue-planet {
    z-index: 1;
    width: 163px;
    height: 163px;
    background: url('../images/blue.png') no-repeat center center;
    background-size: contain;

    top: 40%;
    right: 0%;

    animation: dark 10s infinite linear forwards;
  }

  .dark-planet {
    z-index: 1;
    width: 75px;
    height: 95px;
    background: url('../images/dark.png') no-repeat center center;
    background-size: contain;

    top: 50%;
    left: 0;

    animation: dark 15s infinite linear forwards;
  }

  .stars {
    height: 110%;
    width: 110%;
    background: url('../images/stars.png') no-repeat center center;
    background-size: contain;

    top: -3%;
    left: -4%;

    animation: dark 15s infinite linear forwards;
  }

  .big-stars {
    height: 100%;
    width: 100%;
    background: url('../images/big-stars.png') no-repeat center center;
    background-size: contain;

    top: -10%;
    left: 5%;

    animation: dark 15s infinite linear forwards;
  }
}


.header {
  position: relative;
  z-index: 2;

  padding: 22px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;

  .nav {
    flex: 0 0 47%;
    font-size: 11px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    &-item a {
      color: #fff;
      opacity: 0.3;
      text-transform: uppercase;
      transition: opacity 0.1s ease;
      will-change: opacity;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .options {
    flex: 0 0 54%;
    margin-top: 4px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .options-left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .button {
    background: rgba(255,255,255,0.07);
    padding: 6px;
    border-radius: 150px;
    text-align: center;
    cursor: pointer;

    user-select: none;

    color: rgba(0,0,0,0.5);
  }

  .button-inner {
    background: #ffd388;
    border-radius: 150px;
    padding: 9px 0 8px;
    width: 100px;

    position: relative;

    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      height: 3px;
      border-radius: 5px;
      background: #fff;
      opacity: 0.3;
      top: 10%;
    }

    &:before {
      left: 17%;
      width: 48%;
    }

    &:after {
      right: 17%;
      width: 12%;
    }
  }

  .free-satoshi .button-inner {
    background: #20ffae;
    width: 126px;
  }

  .balance {
    color: #fff;
    margin-right: 20px;
  }

  .free-satoshi {
    margin-right: 10px;
  }

  .withdraw {
    margin-top: 8px;
  }
}

.center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  .round {
    background: rgba(255,255,255,0.1);
    border-radius: 100%;
    padding: 12px;
    position: relative;

    box-shadow: 0px 0px 100px 0px rgba(225,18,122,1);
  }

  .round.win {
    .planet {
      background: url('../images/win.png') no-repeat center center;
      background-size: contain;
    }

    .value {
      box-shadow: 0px 0px 100px 0px rgba(32,255,177,1);
    }
  }

  .round.lose {
    .planet {
      background: url('../images/lose.png') no-repeat center center;
      background-size: contain;
    }

    .value {
      box-shadow: 0px 0px 100px 0px rgba(225,18,122,1);
    }
  }

  .planet {
    background: url('../images/lose.png') no-repeat center center;
    background-size: contain;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 90%;
  }

  .value {
    font-size: 65px;
    border-radius: 100%;
    padding: 42px;
    overflow: hidden;
    position: relative;
    color: #fff;
  }

  .role {
    margin-top: 20px;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.2);

    text-align: center;
    position: relative;
  }

  .antenna {
    width: 3px;
    background: #dadbdf;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
  }

  .antenna-head {
    width: 10px;
    height: 10px;
    background: #feae82;
    border-radius: 100%;
    position: absolute;
    top: -10px;
    left: -3px;
  }

  .button {
    margin-top: 6px;
    background: #fff;
    padding: 6px 34px;
    border-radius: 150px;
    text-align: center;
    cursor: pointer;
    position: relative;

    user-select: none;

    &:before,
    &:after {
      content: '';
      height: 33px;
      width: 20px;
      background: #dadcdf;

      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      border-radius: 5px;
    }

    &:before {
      left: -12px;
    }

    &:after {
      right: -12px;
    }

    &-inner {
      background: #d2e9ec;
      border-radius: 150px;
      padding: 6px 15px 2px;

      color: #375b78;
      font-size: 23px;
    }
  }

  .role.lose {
    .antenna-head {
      background: #fe217c;
    }

    .button-inner {
      color: #fe217c;
    }
  }

  .role.win {
    .antenna-head {
      background: #1ce39b;
    }

    .button-inner {
      color: #1ce39b;
    }
  }
}

.table {
  margin-top: 90px;

  position: relative;
  z-index: 2;
  background: #40394f;
  padding: 10px 46px 0;
  border-radius: 30px;

  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  &-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }

  .controls {
    display: flex;
    flex-flow: row nowrap;

    position: absolute;
    left: 5%;
    top: 25px;

    .left,
    .center,
    .right {
      height: 6px;
      width: 6px;
      border-radius: 100%;
      margin: 0 6px;
    }

    .left {
      background: #52c3c3;
    }

    .center {
      background: #ffb382;
    }

    .right {
      background: #1dda70;
    }
  }

  .options {
    display: flex;
    flex-flow: row nowrap;

    .button {
      margin: 0 9px;
    }
  }

  .button {
    background: rgba(255,255,255,0.04);
    padding: 5px;
    border-radius: 150px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 90px;

    user-select: none;
  }

  .button-inner {
    background: #29272d;
    border-radius: 150px;
    padding: 7px 15px 6px;

    position: relative;

    font-size: 11px;
    color: rgba(255,255,255,0.5);
  }

  .button-active .button-inner {
    background: #2ce07a;

    color: #fff;

    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      height: 3px;
      border-radius: 5px;
      background: #fff;
      opacity: 0.3;
      top: 10%;
    }

    &:before {
      left: 17%;
      width: 48%;
    }

    &:after {
      right: 17%;
      width: 12%;
    }
  }


  &-list {
    padding: 0 20px;
    font-size: 12px;
    margin-top: 10px;
    width: 100%;

    background: #29272d;
    border: 4px rgba(4,4,4,0.07) solid;
    border-radius: 20px;

    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;

    display: flex;
    flex-flow: column nowrap;

    color: #cdcdcd;
  }

  &-head {
    font-size: 11px;
    color: #1dda70;
    padding: 10px 0;
    border-bottom: 2px #1dda70 solid;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &-head &-td {
    margin: 0;
  }

  &-listItem {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    text-align: left;
  }

  &-td {
    flex: 0 0 14.2%;
    margin-bottom: 20px;

    &:first-child {
      color: #2ce07a;
      padding-left: 15px;
    }
  }

  &-td.lose {
    color: #da0f7a;
  }

  &-td.win {
    color: #2ce07a;
  }

}


.game {
  background: url('../images/game-bg.png') no-repeat center center;
  background-size: cover;
  min-height: 297px;

  color: #61d3cb;
  z-index: 10;

  position: absolute;
  min-width: 430px;
  max-width: 430px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .groups {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    .left-top,
    .right-top,
    .left-bottom,
    .right-bottom {
      position: absolute;
      width: 62px;
      height: 52px;
    }

    .left-top {
      background: url('../images/left-top.png') no-repeat center center;
      background-size: contain;
      top: 30px;
      left: 20px;
    }

    .right-top {
      background: url('../images/right-top.png') no-repeat center center;
      background-size: contain;
      top: 30px;
      right: 20px;
    }

    .left-bottom {
      background: url('../images/left-bottom.png') no-repeat center center;
      background-size: contain;
      bottom: 30px;
      left: 20px;
    }

    .right-bottom {
      background: url('../images/right-bottom.png') no-repeat center center;
      background-size: contain;
      bottom: 30px;
      right: 20px;
    }
  }

  .buttons {
    display: flex;
    flex-flow: row nowrap;

    margin-top: 10px;
  }

  .title {
    font-size: 11px;
    text-transform: uppercase;
  }

  .centered {
    margin: 0 18px;
  }

  .button {
    cursor: pointer;
    user-select: none;
  }

  .button,
  .value,
  .bet {
    position: relative;
    padding: 12px 10px 8px;
    font-size: 15px;
    text-align: center;

    border: 3px #1e999a solid;
    border-radius: 10px;
  }

  .button:after,
  .value:after,
  .bet:after {
    content: '';
    width: 100%;
    height: 50%;

    position: absolute;
    left: -3px;
    bottom: -3px;

    border: 3px #61d3cb solid;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .button span {
    color: #1f999a;
  }

  .bet {
    margin-top: 17px;
    width: 90%;
    color: #fff;
  }

  .value {
    color: #fff;
  }

  .profit-chance,
  .prediction {
    margin-top: 18px;
    display: flex;
    flex-flow: row nowrap;
  }

  .profit-chance {
    justify-content: center;
    width: 80%;
    font-size: 11px;
    text-transform: uppercase;

    .profit {
      margin-right: 35px;
    }

    span {
      margin-left: 15px;
      color: #fff;
      font-weight: 500;
    }
  }
}
