doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  title BitcoinZebra
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="icon" href="images/favicon.png")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

body
  .wrapper
    .parallax
      .moon
      .yellow-planet
      .blue-planet
      .dark-planet
      .stars
      .big-stars

    .container
      .header
        .nav
          .logo
            a(href="/")
              img(src="images/Logo.png")

          .nav-item
            a(href="#") Transactions
          .nav-item
            a(href="#") Bets
          .nav-item
            a(href="#") Promotions

        .options
          .options-left
            .balance
              | 0.00200 mB

            .button.free-satoshi
              .button-inner
                | FREE SATOSHI

          .options-right
            .button.deposit
              .button-inner
                | DEPOSIT
            .button.withdraw
              .button-inner
                | WITHDRAW

      .game
        .groups
          .left-top
          .right-top
          .left-bottom
          .right-bottom

        .title Your bet
        .buttons
          .button
            span 1
            |/2

          .button.centered
            span 2
            |X

          .button
            |M
            span A
            |X

        .bet
          | 0.00000001 mB

        .profit-chance
          .profit
            | Profit:
            span 0.00000051 mB

          .win-chance
            | Win chance:
            span 54%

        .prediction
          .button
            | Lower

          .value.centered
            | 50

          .button
            | Higher

      .center
        .round.win
          .planet
          .value
            | 82

        .role
          | Click to play
          .antenna
            .antenna-head
          .button
            .button-inner
              | role


      .table
        .table-header
          .controls
            .left
            .center
            .right

          .options
            .button
              .button-inner
                | My bets
            .button.button-active
              .button-inner
                | All bets
            .button
              .button-inner
                | Best astro

        .table-list
          .table-listItem.table-head
            .table-td
              | Id
            .table-td
              | User
            .table-td
              | Number
            .table-td
              | Prediction
            .table-td
              | Bet size
            .table-td
              | Win oods
            .table-td
              | Profit

          .table-listItem
            .table-td
              | 2739937597
            .table-td
              | Ransom_2vh5e
            .table-td
              | 35
            .table-td
              | > 54
            .table-td
              | 0.00122 mB
            .table-td
              | 11%
            .table-td.lose
              | +0.00044

          .table-listItem
            .table-td
              | 2739937596
            .table-td
              | yousee
            .table-td
              | 92
            .table-td
              | > 50
            .table-td
              | 0.00591 mB
            .table-td
              | 66%
            .table-td.lose
              | +0.00044

          .table-listItem
            .table-td
              | 2739937595
            .table-td
              | shugar
            .table-td
              | 80
            .table-td
              | > 49
            .table-td
              | 0.00425 mB
            .table-td
              | 144%
            .table-td.win
              | +0.00044

          .table-listItem
            .table-td
              | 2739937594
            .table-td
              | flywithmemsl
            .table-td
              | 123
            .table-td
              | > 29
            .table-td
              | 0.03002 mB
            .table-td
              | 29%
            .table-td.win
              | +0.00044

          .table-listItem
            .table-td
              | 2739937593
            .table-td
              | chudovische
            .table-td
              | 101
            .table-td
              | > 110
            .table-td
              | 0.00100 mB
            .table-td
              | 12%
            .table-td.win
              | +0.00044

          .table-listItem
            .table-td
              | 2739937592
            .table-td
              | sitnik
            .table-td
              | 99
            .table-td
              | > 51
            .table-td
              | 0.01237 mB
            .table-td
              | 80%
            .table-td.win
              | +0.00044

          .table-listItem
            .table-td
              | 2739937593
            .table-td
              | molefrog
            .table-td
              | 54
            .table-td
              | > 54
            .table-td
              | 0.01488 mB
            .table-td
              | 49%
            .table-td.win
              | +0.00044

          .table-listItem
            .table-td
              | 2739937597
            .table-td
              | Ransom_2vh5e
            .table-td
              | 35
            .table-td
              | > 54
            .table-td
              | 0.00122 mB
            .table-td
              | 11%
            .table-td.lose
              | +0.00044

          .table-listItem
            .table-td
              | 2739937596
            .table-td
              | yousee
            .table-td
              | 92
            .table-td
              | > 50
            .table-td
              | 0.00591 mB
            .table-td
              | 66%
            .table-td.lose
              | +0.00044

          .table-listItem
            .table-td
              | 2739937595
            .table-td
              | shugar
            .table-td
              | 80
            .table-td
              | > 49
            .table-td
              | 0.00425 mB
            .table-td
              | 144%
            .table-td.win
              | +0.00044

          .table-listItem
            .table-td
              | 2739937594
            .table-td
              | flywithmemsl
            .table-td
              | 123
            .table-td
              | > 29
            .table-td
              | 0.03002 mB
            .table-td
              | 29%
            .table-td.win
              | +0.00044

          .table-listItem
            .table-td
              | 2739937593
            .table-td
              | chudovische
            .table-td
              | 101
            .table-td
              | > 110
            .table-td
              | 0.00100 mB
            .table-td
              | 12%
            .table-td.win
              | +0.00044

          .table-listItem
            .table-td
              | 2739937592
            .table-td
              | sitnik
            .table-td
              | 99
            .table-td
              | > 51
            .table-td
              | 0.01237 mB
            .table-td
              | 80%
            .table-td.win
              | +0.00044

          .table-listItem
            .table-td
              | 2739937593
            .table-td
              | molefrog
            .table-td
              | 54
            .table-td
              | > 54
            .table-td
              | 0.01488 mB
            .table-td
              | 49%
            .table-td.win
              | +0.00044
